@model IEnumerable<Movies.App.Models.Movies.MovieViewModel>

@{ ViewData["Title"] = "Excluir"; }

<h2>Excluir filmes</h2>
<hr />

<div class="alert alert-warning" role="alert">
    <strong>Os filmes <span class="label label-success">Em uso</span> não podem ser excluídos!</strong>
</div>

<hr />

<form asp-action="DeleteManyConfirmed">
    
    <input type="submit" value="Excluir os que não estão em uso!" class="btn btn-default" /> |
    <a asp-action="Index" class="btn btn-default">Voltar para a listagem</a>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @if (!item.CanDelete)
                        {
                            <span class="label label-success">Em uso</span>
                        }
                        else
                        {
                            <span class="label label-danger">Excluir</span>
                            <input type="hidden" name="ids" value="@item.Id" />
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
