@using Movies.App.Models.Genres

@model PageViewModel<GenreViewModel>

@{ ViewData["Title"] = "Listagem"; }

<h2>Listagem de gênero</h2>
<hr />

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<br />
<form asp-action="DeleteMany">
    <div class="form-group">
        <input type="submit" value="Excluir seleção" class="btn btn-default deleteAll" disabled />
        <div class="pull-right">
            <partial name="../Shared/_Pagination" />
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <input name="all" class="selectAll" title="Selecionar todos" type="checkbox" />
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Data de criação
                </th>
                <th>
                    Ativo
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.List)
            {
                <tr>
                    <td>
                        <input name="ids" class="select" value="@item.Id" type="checkbox" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@section Scripts {
    <script>
        $(".selectAll").click(function (ev) {
            var checked = $(ev.target).is(":checked");
            $(".select").prop('checked', checked);
            $(".deleteAll").prop("disabled", !checked);
        });

        $(".select").change(function (ev) {
            var checked = $(ev.target).is(":checked");
            $(".deleteAll").prop("disabled", !checked);
        });
    </script>
}