@using Movies.App.Models.Locations

@model PageViewModel<LocationViewModel>

@{
    ViewData["Title"] = "Listagem";
}

<h2>Listagem de locações</h2>
<hr />

<p> <a asp-action="Create">Cadastrar</a> </p>
<br/>
<div class="pull-right">
    <partial name="../Shared/_Pagination" />
</div>
<table class="table">

    <thead>
        <tr>
            <th>
                CPF
            </th>
            <th>
                Data da locação
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocatedAt)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
